@font-face{
    font-family: 'Dela Gothic One';
    src: local("Dela Gothic One"),
    url(DelaGothicOne-Regular.ttf);
    font-family: 'Noto Sans TC';
    src: local("Noto Sans TC"),
    url(NotoSansTC-Regular.otf);
}
html {
    -webkit-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}
 
.fluidminus{
    padding-left: 5vw!important;
    padding-right: 5vw!important;
}

.bkground {   /*--phone--*/
    background-image: url(pics/newbk3phonenew.png);
   /*-- background-image: url(pics/smallsinbg.jpg);----*/
    /*--background-image: url(pics/newbk2.png);--*/
    background-position: left center;
    background-attachment: fixed;
    background-size: contain;
    overflow-x: hidden;
    max-width: 100%;
    height: auto;
}

@media screen and (min-width: 992px) { /*--desktop--*/
  .bkground {
      background-image: url(pics/newbk3withbk.png);
      background-size: cover;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    /*--ipad--*/
  .bkground {
      background-image: url(pics/newbk3withbk.png);
      background-position: center center;
      background-size: cover;
  }
}


.ji_spacing{
    height: 3vh;
}
 

h1 {
    font-family: 'Dela Gothic One', cursive;
    font-size: 3.75rem;
    color: #F60067;
    animation-name: jilighth1;
    animation-duration: 1.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

h2 {
    font-family: 'Dela Gothic One', cursive;
    font-size: 3.75rem!important;
    color: #0E3EC5;
    position: relative;
    z-index: 600 !important;
    animation-name: jilighth2;
    animation-duration: 1.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    
}

h3 {
    font-family: 'Dela Gothic One', cursive;
    font-size: 2rem!important;
    color: #0E3EC5;
    position: relative;
    z-index: 600 !important;
    animation-name: jilighth2;
    animation-duration: 1.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite; 
}

h4 {
    font-family: 'Dela Gothic One', cursive;
    font-size: 2rem!important;
    color: #0E3EC5;
    position: relative;
    z-index: 600 !important;
    animation-name: jilighth2;
    animation-duration: 1.5s;
    animation-direction: alternate;
    animation-iteration-count: infinite; 
}

h3:hover {
    color: white;
}

h4:hover {
    color: white;
}

p {
    font-family: 'Noto Sans TC', sans-serif;
    background: #22223A;
    color: white;
    border-radius: 20px !important;
    margin: 0!important;
    font-size: 1.1rem;
}

.introkuan p {
    padding: 20px !important;
}

.nextpageji a{
    text-decoration: none;
}

@media screen and (max-width: 768px){
    /*--ji size phone--*/
  .container-fluid p{
      font-size: 0.85rem;
      background: none;
    }
}

/*--------------loading----------------------------*/

.loading{
    position: fixed;
    z-index: 999;
    background: white;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
}

.block{
    display: block;
    height: 35vh;
}

/*--------------pallaxbkgorund----------------------------*/

.spacing0{
    width: 100vw;
    height: 10vh;
}

.spacing05{
    width: 100vw;
    height: 5vh;
}


/*--------------btn----------------------------*/

.menu-btn {
    width: 64px;
    height: 64px;
    position: fixed;
    top: 3vh;
    left: 27px;
    z-index: 999 !important;
    padding-top: 7px;
    box-sizing: border-box;
    display: block;
    cursor: pointer;
}

.menu-btn span {

    z-index: 999 !important;
    width: 60%;
    height: 3px;
    background: #fff;
    display: block;
    margin: 9px auto;
    transition: all 0.3s;
}

.menu-box {
    z-index: 998 !important;
    width: 160px;
    height: 100vh;
    background: white;
    position: fixed;
    left: 0;
    top: -120%;
    padding-left: 40px;
    padding-top: 50px;
    box-sizing: border-box;
    transition: all 0.3s;
}


.menu-box a {
    font-family: 'Noto Sans TC', sans-serif !important;
    z-index: 998 !important;
    color: #0E3EC5;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 800;
    margin-bottom: 20px;
    line-height: 2;
    text-decoration: none;

}

.menu-box.active {
    top: 0 !important;
}

.menu-btn.active span:first-child {
    transform: rotate(45deg) translate(8px, 15px);
    background: #0E3EC5;
}

.menu-btn.active span:nth-child(2) {
    opacity: 0;
}

.menu-btn.active span:last-child {
    transform: rotate(-45deg) translate(2px, -8px);
    background: #0E3EC5;
}

.mb1:hover {
    font-family: 'Noto Sans TC', sans-serif;
    color: #648dff;
}

.mb2:hover {
    font-family: 'Noto Sans TC', sans-serif;
    color: #648dff;
}

.mb3:hover {
    font-family: 'Noto Sans TC', sans-serif;
    color: #648dff;
}

.mb4:hover {
    font-family: 'Noto Sans TC', sans-serif;
    color: #648dff;
}

.mb5:hover {
    font-family: 'Noto Sans TC', sans-serif;
    color: #648dff;
}

.mb6:hover {
    font-family: 'Noto Sans TC', sans-serif;
    color: #648dff;
}



/*--------------logo----------------------------*/

.logo {
    z-index: 995;
    position: fixed;
    top: 3vh;
    left: 100px;
    display: block;
}


@media screen and (max-width: 768px){
    /*--span in phone--*/
  .menu-btn {
      left: 3vw;
  }
  .logo {
      /*--left: auto;
      right: 5vw;--*/
      position: absolute;
    }
}

.TOPMA4U {
    z-index: 999;
    position: fixed;
    top: 3vh;
    right: 33px;
    display: block;
}

.backtotopyouchan {
    z-index: 998;
    position: fixed;
    top: 15vh;
     /*-top: 3vh;--*/
    right: 33px;
    display: block;
}

@media screen and (max-width: 768px){
    /*--turn off topma4u in phone--*/
  .TOPMA4U {
      display: none;
  }
  .backtotopyouchan{
        top: 1.5vh;
      right: 3vw;
      position: absolute;
    }
}

/*--------------stickylogotype------------------------*/
.stickybacktotop {
    z-index: 990;
    position: sticky;
    margin-top: 3vh;
    padding-top: 60px;
    left: 3vw;
    width: 225px;
    top: 3.5vh;
}

@media screen and (max-width: 768px){
    /*--turn off in phone--*/
  .stickylogotype{
      display: none;
  }
    .comic1{
        padding-top: 5vh;
    }
}



/*--------------comic-----------------------*/
/*--------------comic--*/
.comic1 {
    position: relative;
    z-index: 400;
    padding-bottom: 10vh;
    margin: 0 auto;
    display: block;
}

.intro {
    position: relative;
    z-index: 400;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.comicphone{
      display: none;
    }

.spacing{
    width: 100vw;
    height: 30vh;
}

@media screen and (max-width: 768px){
    /*--turn off comic1 in phone--*/
  .comicdesktop{
      display: none;
  }
  .comicphone{
      display: block;
    }
}



/*-----
test parallax

.test {
    height: 20vh;

}-----*/

/*--------------nextpage---*/

.nextpage{
    z-index: 502;
    text-align:right;　
    position:relative;
    padding-top: 5vh!important;
    padding-bottom: 5vh!important;
    /*--background: #22223A;--*/
}

.nextpageimg{
    transform-origin: bottom;
    display: block;
    z-index: 502;
    position: relative;
}


/*-------------jilightanimation---*/

@keyframes jilighth1 {

    0% {
       text-shadow:  0px 0px 20px rgb(255,255,255, 0.5);
    }

    100% {
       text-shadow:  0px 0px 15px rgb(255,255,255, 0.5);
    }
}


@keyframes jilighth2 {

    0% {
       text-shadow:  0px 0px 20px rgb(160, 255, 255);
    }

    100% {
       text-shadow:  0px 0px 15px rgb(160, 255, 255);
    }
}


/*-------------spaces for phone-----------------------------*/

.phoneblock{
    display: none;
}

.phoneblock img{
    display: none;
}

.phoneblock p{
    display: none;
}

.desktopblock{
    display: block;
}

.desktopblock img{
    display: block;
}

@media screen and (max-width: 768px){
    /*--turn on in phone--*/
  .phoneblock{
      display: block;
    }
  .phoneblock img{
    display: block;
    }  
    
    .phoneblock p{
    display: block;
    }
    
    .desktopblock{
    display: none;
}
    
    .desktopblock img{
    display: none;
}
    
    .desktopblock p{
    display: none;
}
    
  .ma4uphone{
      display: none;
    }
    
    .nextpageji a h3{
      font-size: 1.5rem!important;
    }
    .nextpageji a h4{
      font-size: 1.5rem!important;
    }
    .nextpageji a h2{
      font-size: 1.5rem!important;
    }
    
    .fluidminusspeical{
        padding-right: 0vw!important;
    }
    
    .nopaddingleft{
        padding-left: 0!important;
    }
    
    .nopaddingright{
        padding-right: 0!important;
    }
    
    .comic1{
        padding-bottom: 0;
    }
    
    .intro{
        margin-bottom: 0;
    }
}



